/* ===========================
   UPLOAD CARD
=========================== */

.upload-card{

    width:100%;
    max-width:850px;

    margin:0 auto 70px;

    padding:60px 40px;

    background:var(--surface);

    border:2px dashed var(--border);

    border-radius:20px;

    text-align:center;

    cursor:pointer;

    transition:all .35s ease;

}

.upload-card:hover{

    transform:translateY(-6px);

    border-color:var(--primary);

    box-shadow:0 15px 40px rgba(0,0,0,.35);

}

.upload-icon{

    width:90px;
    height:90px;

    margin:0 auto 25px;

    display:flex;
    justify-content:center;
    align-items:center;

    border-radius:50%;

    background:#202530;

    color:white;

    font-size:42px;

    transition:.3s;

}

.upload-card:hover .upload-icon{

    transform:scale(1.08);

    background:var(--primary);

}

.upload-card h2{

    font-size:32px;

    margin-bottom:15px;

}

.upload-card p{

    color:var(--secondary);

    font-size:17px;

    line-height:1.8;

    max-width:520px;

    margin:0 auto 35px;

}

.upload-btn{

    padding:15px 32px;

    border:none;

    border-radius:14px;

    background:white;

    color:black;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}

.upload-btn:hover{

    transform:translateY(-3px);

    background:#f3f4f6;

}

.upload-btn:active{

    transform:scale(.98);

}